<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AnimateurCreateDlg" widgetVar="AnimateurCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAnimateurTitle}">
            <h:form id="AnimateurCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{animateurController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_matricule}" for="matricule" />
                        <p:inputText id="matricule" value="#{animateurController.selected.matricule}" title="#{bundle.CreateAnimateurTitle_matricule}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_nomPrenom}" for="nomPrenom" />
                        <p:inputText id="nomPrenom" value="#{animateurController.selected.nomPrenom}" title="#{bundle.CreateAnimateurTitle_nomPrenom}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_email}" for="email" />
                        <p:inputText id="email" value="#{animateurController.selected.email}" title="#{bundle.CreateAnimateurTitle_email}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_tele}" for="tele" />
                        <p:inputText id="tele" value="#{animateurController.selected.tele}" title="#{bundle.CreateAnimateurTitle_tele}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_dateDeNaissance}" for="dateDeNaissance" />
                        <p:inputText id="dateDeNaissance" value="#{animateurController.selected.dateDeNaissance}" title="#{bundle.CreateAnimateurTitle_dateDeNaissance}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_dateEmbauche}" for="dateEmbauche" />
                        <p:inputText id="dateEmbauche" value="#{animateurController.selected.dateEmbauche}" title="#{bundle.CreateAnimateurTitle_dateEmbauche}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_dateDepart}" for="dateDepart" />
                        <p:inputText id="dateDepart" value="#{animateurController.selected.dateDepart}" title="#{bundle.CreateAnimateurTitle_dateDepart}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_age}" for="age" />
                        <p:inputText id="age" value="#{animateurController.selected.age}" title="#{bundle.CreateAnimateurTitle_age}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_sex}" for="sex" />
                        <p:inputText id="sex" value="#{animateurController.selected.sex}" title="#{bundle.CreateAnimateurTitle_sex}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_photo}" for="photo" />
                        <p:inputText id="photo" value="#{animateurController.selected.photo}" title="#{bundle.CreateAnimateurTitle_photo}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_cadreIntegration}" for="cadreIntegration" />
                        <p:inputText id="cadreIntegration" value="#{animateurController.selected.cadreIntegration}" title="#{bundle.CreateAnimateurTitle_cadreIntegration}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_dateInscription}" for="dateInscription" />
                        <p:inputText id="dateInscription" value="#{animateurController.selected.dateInscription}" title="#{bundle.CreateAnimateurTitle_dateInscription}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_activeRetraite}" for="activeRetraite" />
                        <p:inputText id="activeRetraite" value="#{animateurController.selected.activeRetraite}" title="#{bundle.CreateAnimateurTitle_activeRetraite}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_responsable}" for="responsable" />
                        <p:inputText id="responsable" value="#{animateurController.selected.responsable}" title="#{bundle.CreateAnimateurTitle_responsable}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_formationPedagogique}" for="formationPedagogique" />
                        <p:inputText id="formationPedagogique" value="#{animateurController.selected.formationPedagogique}" title="#{bundle.CreateAnimateurTitle_formationPedagogique}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_dateFP}" for="dateFP" />
                        <p:inputText id="dateFP" value="#{animateurController.selected.dateFP}" title="#{bundle.CreateAnimateurTitle_dateFP}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_dateInvitationFP}" for="dateInvitationFP" />
                        <p:inputText id="dateInvitationFP" value="#{animateurController.selected.dateInvitationFP}" title="#{bundle.CreateAnimateurTitle_dateInvitationFP}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_simulation}" for="simulation" />
                        <p:inputText id="simulation" value="#{animateurController.selected.simulation}" title="#{bundle.CreateAnimateurTitle_simulation}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_dateSimulation}" for="dateSimulation" />
                        <p:inputText id="dateSimulation" value="#{animateurController.selected.dateSimulation}" title="#{bundle.CreateAnimateurTitle_dateSimulation}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_decisionSimulation}" for="decisionSimulation" />
                        <p:inputText id="decisionSimulation" value="#{animateurController.selected.decisionSimulation}" title="#{bundle.CreateAnimateurTitle_decisionSimulation}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_ficheAppreciaionEntretien}" for="ficheAppreciaionEntretien" />
                        <p:inputText id="ficheAppreciaionEntretien" value="#{animateurController.selected.ficheAppreciaionEntretien}" title="#{bundle.CreateAnimateurTitle_ficheAppreciaionEntretien}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_assistanceFoad}" for="assistanceFoad" />
                        <p:inputText id="assistanceFoad" value="#{animateurController.selected.assistanceFoad}" title="#{bundle.CreateAnimateurTitle_assistanceFoad}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_capaciteAccompagnement}" for="capaciteAccompagnement" />
                        <p:inputText id="capaciteAccompagnement" value="#{animateurController.selected.capaciteAccompagnement}" title="#{bundle.CreateAnimateurTitle_capaciteAccompagnement}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_accompagnateur}" for="accompagnateur" />
                        <p:inputText id="accompagnateur" value="#{animateurController.selected.accompagnateur}" title="#{bundle.CreateAnimateurTitle_accompagnateur}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_observation1}" for="observation1" />
                        <p:inputText id="observation1" value="#{animateurController.selected.observation1}" title="#{bundle.CreateAnimateurTitle_observation1}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_observation2}" for="observation2" />
                        <p:inputText id="observation2" value="#{animateurController.selected.observation2}" title="#{bundle.CreateAnimateurTitle_observation2}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_observation3}" for="observation3" />
                        <p:inputText id="observation3" value="#{animateurController.selected.observation3}" title="#{bundle.CreateAnimateurTitle_observation3}" />
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_typeAnimateur}" for="typeAnimateur" />
                        <p:selectOneMenu id="typeAnimateur" value="#{animateurController.selected.typeAnimateur}" >
                            <f:selectItems value="#{typeAnimateurController.itemsAvailableSelectOne}"
                                           var="typeAnimateurItem"
                                           itemValue="#{typeAnimateurItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_fonction}" for="fonction" />
                        <p:selectOneMenu id="fonction" value="#{animateurController.selected.fonction}" >
                            <f:selectItems value="#{fonctionController.itemsAvailableSelectOne}"
                                           var="fonctionItem"
                                           itemValue="#{fonctionItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_experience}" for="experience" />
                        <p:selectOneMenu id="experience" value="#{animateurController.selected.experience}" >
                            <f:selectItems value="#{experienceController.itemsAvailableSelectOne}"
                                           var="experienceItem"
                                           itemValue="#{experienceItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_approuvation}" for="approuvation" />
                        <p:selectOneMenu id="approuvation" value="#{animateurController.selected.approuvation}" >
                            <f:selectItems value="#{approuvationController.itemsAvailableSelectOne}"
                                           var="approuvationItem"
                                           itemValue="#{approuvationItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_direction}" for="direction" />
                        <p:selectOneMenu id="direction" value="#{animateurController.selected.direction}" >
                            <f:selectItems value="#{directionController.itemsAvailableSelectOne}"
                                           var="directionItem"
                                           itemValue="#{directionItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_domainePerso}" for="domainePerso" />
                        <p:selectOneMenu id="domainePerso" value="#{animateurController.selected.domainePerso}" >
                            <f:selectItems value="#{domainePersoController.itemsAvailableSelectOne}"
                                           var="domainePersoItem"
                                           itemValue="#{domainePersoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateAnimateurLabel_sousDomain}" for="sousDomain" />
                        <p:selectOneMenu id="sousDomain" value="#{animateurController.selected.sousDomain}" >
                            <f:selectItems value="#{sousDomainController.itemsAvailableSelectOne}"
                                           var="sousDomainItem"
                                           itemValue="#{sousDomainItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{animateurController.create}" value="#{bundle.Save}" update="display,:AnimateurListForm:datalist,:growl" oncomplete="handleSubmit(args,'AnimateurCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AnimateurCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
