<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListAnimateurTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="AnimateurListForm">
                <p:panel header="#{bundle.ListAnimateurTitle}">
                    <p:dataTable id="datalist" value="#{animateurController.items}" var="item"
                                 selectionMode="single" selection="#{animateurController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_matricule}"/>
                            </f:facet>
                            <h:outputText value="#{item.matricule}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_nomPrenom}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomPrenom}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_tele}"/>
                            </f:facet>
                            <h:outputText value="#{item.tele}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_dateDeNaissance}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateDeNaissance}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_dateEmbauche}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateEmbauche}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_dateDepart}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateDepart}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_age}"/>
                            </f:facet>
                            <h:outputText value="#{item.age}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_sex}"/>
                            </f:facet>
                            <h:outputText value="#{item.sex}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_photo}"/>
                            </f:facet>
                            <h:outputText value="#{item.photo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_cadreIntegration}"/>
                            </f:facet>
                            <h:outputText value="#{item.cadreIntegration}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_dateInscription}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateInscription}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_activeRetraite}"/>
                            </f:facet>
                            <h:outputText value="#{item.activeRetraite}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_responsable}"/>
                            </f:facet>
                            <h:outputText value="#{item.responsable}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_formationPedagogique}"/>
                            </f:facet>
                            <h:outputText value="#{item.formationPedagogique}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_dateFP}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateFP}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_dateInvitationFP}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateInvitationFP}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_simulation}"/>
                            </f:facet>
                            <h:outputText value="#{item.simulation}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_dateSimulation}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateSimulation}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_decisionSimulation}"/>
                            </f:facet>
                            <h:outputText value="#{item.decisionSimulation}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_ficheAppreciaionEntretien}"/>
                            </f:facet>
                            <h:outputText value="#{item.ficheAppreciaionEntretien}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_assistanceFoad}"/>
                            </f:facet>
                            <h:outputText value="#{item.assistanceFoad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_capaciteAccompagnement}"/>
                            </f:facet>
                            <h:outputText value="#{item.capaciteAccompagnement}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_accompagnateur}"/>
                            </f:facet>
                            <h:outputText value="#{item.accompagnateur}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_observation1}"/>
                            </f:facet>
                            <h:outputText value="#{item.observation1}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_observation2}"/>
                            </f:facet>
                            <h:outputText value="#{item.observation2}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_observation3}"/>
                            </f:facet>
                            <h:outputText value="#{item.observation3}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_typeAnimateur}"/>
                            </f:facet>
                            <h:outputText value="#{item.typeAnimateur}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_fonction}"/>
                            </f:facet>
                            <h:outputText value="#{item.fonction}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_experience}"/>
                            </f:facet>
                            <h:outputText value="#{item.experience}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_approuvation}"/>
                            </f:facet>
                            <h:outputText value="#{item.approuvation}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_direction}"/>
                            </f:facet>
                            <h:outputText value="#{item.direction}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_domainePerso}"/>
                            </f:facet>
                            <h:outputText value="#{item.domainePerso}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAnimateurTitle_sousDomain}"/>
                            </f:facet>
                            <h:outputText value="#{item.sousDomain}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{animateurController.prepareCreate}" update=":AnimateurCreateForm" oncomplete="PF('AnimateurCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":AnimateurViewForm" oncomplete="PF('AnimateurViewDialog').show()" disabled="#{empty animateurController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":AnimateurEditForm" oncomplete="PF('AnimateurEditDialog').show()" disabled="#{empty animateurController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{animateurController.destroy}" update=":growl,datalist" disabled="#{empty animateurController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
