<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AnimateurViewDlg" widgetVar="AnimateurViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAnimateurTitle}">
            <h:form id="AnimateurViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{animateurController.selected != null}">
                        <h:outputText value="#{bundle.ViewAnimateurLabel_matricule}"/>
                        <h:outputText value="#{animateurController.selected.matricule}" title="#{bundle.ViewAnimateurTitle_matricule}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_nomPrenom}"/>
                        <h:outputText value="#{animateurController.selected.nomPrenom}" title="#{bundle.ViewAnimateurTitle_nomPrenom}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_email}"/>
                        <h:outputText value="#{animateurController.selected.email}" title="#{bundle.ViewAnimateurTitle_email}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_tele}"/>
                        <h:outputText value="#{animateurController.selected.tele}" title="#{bundle.ViewAnimateurTitle_tele}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_dateDeNaissance}"/>
                        <h:outputText value="#{animateurController.selected.dateDeNaissance}" title="#{bundle.ViewAnimateurTitle_dateDeNaissance}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_dateEmbauche}"/>
                        <h:outputText value="#{animateurController.selected.dateEmbauche}" title="#{bundle.ViewAnimateurTitle_dateEmbauche}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_dateDepart}"/>
                        <h:outputText value="#{animateurController.selected.dateDepart}" title="#{bundle.ViewAnimateurTitle_dateDepart}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_age}"/>
                        <h:outputText value="#{animateurController.selected.age}" title="#{bundle.ViewAnimateurTitle_age}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_sex}"/>
                        <h:outputText value="#{animateurController.selected.sex}" title="#{bundle.ViewAnimateurTitle_sex}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_photo}"/>
                        <h:outputText value="#{animateurController.selected.photo}" title="#{bundle.ViewAnimateurTitle_photo}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_cadreIntegration}"/>
                        <h:outputText value="#{animateurController.selected.cadreIntegration}" title="#{bundle.ViewAnimateurTitle_cadreIntegration}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_dateInscription}"/>
                        <h:outputText value="#{animateurController.selected.dateInscription}" title="#{bundle.ViewAnimateurTitle_dateInscription}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_activeRetraite}"/>
                        <h:outputText value="#{animateurController.selected.activeRetraite}" title="#{bundle.ViewAnimateurTitle_activeRetraite}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_responsable}"/>
                        <h:outputText value="#{animateurController.selected.responsable}" title="#{bundle.ViewAnimateurTitle_responsable}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_formationPedagogique}"/>
                        <h:outputText value="#{animateurController.selected.formationPedagogique}" title="#{bundle.ViewAnimateurTitle_formationPedagogique}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_dateFP}"/>
                        <h:outputText value="#{animateurController.selected.dateFP}" title="#{bundle.ViewAnimateurTitle_dateFP}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_dateInvitationFP}"/>
                        <h:outputText value="#{animateurController.selected.dateInvitationFP}" title="#{bundle.ViewAnimateurTitle_dateInvitationFP}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_simulation}"/>
                        <h:outputText value="#{animateurController.selected.simulation}" title="#{bundle.ViewAnimateurTitle_simulation}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_dateSimulation}"/>
                        <h:outputText value="#{animateurController.selected.dateSimulation}" title="#{bundle.ViewAnimateurTitle_dateSimulation}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_decisionSimulation}"/>
                        <h:outputText value="#{animateurController.selected.decisionSimulation}" title="#{bundle.ViewAnimateurTitle_decisionSimulation}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_ficheAppreciaionEntretien}"/>
                        <h:outputText value="#{animateurController.selected.ficheAppreciaionEntretien}" title="#{bundle.ViewAnimateurTitle_ficheAppreciaionEntretien}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_assistanceFoad}"/>
                        <h:outputText value="#{animateurController.selected.assistanceFoad}" title="#{bundle.ViewAnimateurTitle_assistanceFoad}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_capaciteAccompagnement}"/>
                        <h:outputText value="#{animateurController.selected.capaciteAccompagnement}" title="#{bundle.ViewAnimateurTitle_capaciteAccompagnement}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_accompagnateur}"/>
                        <h:outputText value="#{animateurController.selected.accompagnateur}" title="#{bundle.ViewAnimateurTitle_accompagnateur}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_observation1}"/>
                        <h:outputText value="#{animateurController.selected.observation1}" title="#{bundle.ViewAnimateurTitle_observation1}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_observation2}"/>
                        <h:outputText value="#{animateurController.selected.observation2}" title="#{bundle.ViewAnimateurTitle_observation2}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_observation3}"/>
                        <h:outputText value="#{animateurController.selected.observation3}" title="#{bundle.ViewAnimateurTitle_observation3}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_typeAnimateur}"/>
                        <h:outputText value="#{animateurController.selected.typeAnimateur}" title="#{bundle.ViewAnimateurTitle_typeAnimateur}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_fonction}"/>
                        <h:outputText value="#{animateurController.selected.fonction}" title="#{bundle.ViewAnimateurTitle_fonction}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_experience}"/>
                        <h:outputText value="#{animateurController.selected.experience}" title="#{bundle.ViewAnimateurTitle_experience}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_approuvation}"/>
                        <h:outputText value="#{animateurController.selected.approuvation}" title="#{bundle.ViewAnimateurTitle_approuvation}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_direction}"/>
                        <h:outputText value="#{animateurController.selected.direction}" title="#{bundle.ViewAnimateurTitle_direction}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_domainePerso}"/>
                        <h:outputText value="#{animateurController.selected.domainePerso}" title="#{bundle.ViewAnimateurTitle_domainePerso}"/>
                        <h:outputText value="#{bundle.ViewAnimateurLabel_sousDomain}"/>
                        <h:outputText value="#{animateurController.selected.sousDomain}" title="#{bundle.ViewAnimateurTitle_sousDomain}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AnimateurViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
