<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TypeAnimateurEditDlg" widgetVar="TypeAnimateurEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditTypeAnimateurTitle}">
            <h:form id="TypeAnimateurEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{typeAnimateurController.selected != null}">
                        <p:outputLabel value="#{bundle.EditTypeAnimateurLabel_intitule}" for="intitule" />
                        <p:inputText id="intitule" value="#{typeAnimateurController.selected.intitule}" title="#{bundle.EditTypeAnimateurTitle_intitule}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{typeAnimateurController.update}" value="#{bundle.Save}" update="display,:TypeAnimateurListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TypeAnimateurEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TypeAnimateurEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
