<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TypeAnimateurViewDlg" widgetVar="TypeAnimateurViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTypeAnimateurTitle}">
            <h:form id="TypeAnimateurViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{typeAnimateurController.selected != null}">

                        <h:outputText value="#{bundle.ViewTypeAnimateurLabel_intitule}"/>
                        <h:outputText value="#{typeAnimateurController.selected.intitule}" title="#{bundle.ViewTypeAnimateurTitle_intitule}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TypeAnimateurViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
