<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CategorieThemeCreateDlg" widgetVar="CategorieThemeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCategorieThemeTitle}">
            <h:form id="CategorieThemeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{categorieThemeController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCategorieThemeLabel_intitule}" for="intitule" />
                        <p:inputText id="intitule" value="#{categorieThemeController.selected.intitule}" title="#{bundle.CreateCategorieThemeTitle_intitule}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{categorieThemeController.create}" value="#{bundle.Save}" update="display,:CategorieThemeListForm:datalist,:growl" oncomplete="handleSubmit(args,'CategorieThemeCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CategorieThemeCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
