<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AnimThemeEditDlg" widgetVar="AnimThemeEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditAnimThemeTitle}">
            <h:form id="AnimThemeEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{animThemeController.selected != null}">
                        <p:outputLabel value="#{bundle.EditAnimThemeLabel_animateur}" for="animateur" />
                        <p:selectOneMenu id="animateur" value="#{animThemeController.selected.animateur}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{animateurController.itemsAvailableSelectOne}"
                                           var="animateurItem"
                                           itemValue="#{animateurItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditAnimThemeLabel_theme}" for="theme" />
                        <p:selectOneMenu id="theme" value="#{animThemeController.selected.theme}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{themeController.itemsAvailableSelectOne}"
                                           var="themeItem"
                                           itemValue="#{themeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditAnimThemeLabel_session}" for="session" />
                        <p:selectOneMenu id="session" value="#{animThemeController.selected.session}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{sessionController.itemsAvailableSelectOne}"
                                           var="sessionItem"
                                           itemValue="#{sessionItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{animThemeController.update}" value="#{bundle.Save}" update="display,:AnimThemeListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AnimThemeEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AnimThemeEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
