<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AnimThemeViewDlg" widgetVar="AnimThemeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAnimThemeTitle}">
            <h:form id="AnimThemeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{animThemeController.selected != null}">
                        <h:outputText value="#{bundle.ViewAnimThemeLabel_animateur}"/>
                        <h:outputText value="#{animThemeController.selected.animateur}" title="#{bundle.ViewAnimThemeTitle_animateur}"/>
                        <h:outputText value="#{bundle.ViewAnimThemeLabel_theme}"/>
                        <h:outputText value="#{animThemeController.selected.theme}" title="#{bundle.ViewAnimThemeTitle_theme}"/>
                        <h:outputText value="#{bundle.ViewAnimThemeLabel_session}"/>
                        <h:outputText value="#{animThemeController.selected.session}" title="#{bundle.ViewAnimThemeTitle_session}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AnimThemeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
