<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SessionCreateDlg" widgetVar="SessionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateSessionTitle}">
            <h:form id="SessionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{sessionController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateSessionLabel_datedebut}" for="datedebut" />
                        <p:inputText id="datedebut" value="#{sessionController.selected.datedebut}" title="#{bundle.CreateSessionTitle_datedebut}" />
                        <p:outputLabel value="#{bundle.CreateSessionLabel_datefin}" for="datefin" />
                        <p:inputText id="datefin" value="#{sessionController.selected.datefin}" title="#{bundle.CreateSessionTitle_datefin}" />
                        <p:outputLabel value="#{bundle.CreateSessionLabel_dureenjour}" for="dureenjour" />
                        <p:inputText id="dureenjour" value="#{sessionController.selected.dureenjour}" title="#{bundle.CreateSessionTitle_dureenjour}" />
                        <p:outputLabel value="#{bundle.CreateSessionLabel_nbrheure}" for="nbrheure" />
                        <p:inputText id="nbrheure" value="#{sessionController.selected.nbrheure}" title="#{bundle.CreateSessionTitle_nbrheure}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{sessionController.create}" value="#{bundle.Save}" update="display,:SessionListForm:datalist,:growl" oncomplete="handleSubmit(args,'SessionCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SessionCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
