<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SessionViewDlg" widgetVar="SessionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewSessionTitle}">
            <h:form id="SessionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{sessionController.selected != null}">
                        <h:outputText value="#{bundle.ViewSessionLabel_datedebut}"/>
                        <h:outputText value="#{sessionController.selected.datedebut}" title="#{bundle.ViewSessionTitle_datedebut}"/>
                        <h:outputText value="#{bundle.ViewSessionLabel_datefin}"/>
                        <h:outputText value="#{sessionController.selected.datefin}" title="#{bundle.ViewSessionTitle_datefin}"/>
                        <h:outputText value="#{bundle.ViewSessionLabel_dureenjour}"/>
                        <h:outputText value="#{sessionController.selected.dureenjour}" title="#{bundle.ViewSessionTitle_dureenjour}"/>
                        <h:outputText value="#{bundle.ViewSessionLabel_nbrheure}"/>
                        <h:outputText value="#{sessionController.selected.nbrheure}" title="#{bundle.ViewSessionTitle_nbrheure}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="SessionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
