<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EvaluationEditDlg" widgetVar="EvaluationEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditEvaluationTitle}">
            <h:form id="EvaluationEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{evaluationController.selected != null}">
                        <p:outputLabel value="#{bundle.EditEvaluationLabel_methodolgie}" for="methodolgie" />
                        <p:inputText id="methodolgie" value="#{evaluationController.selected.methodolgie}" title="#{bundle.EditEvaluationTitle_methodolgie}" />
                        <p:outputLabel value="#{bundle.EditEvaluationLabel_animation}" for="animation" />
                        <p:inputText id="animation" value="#{evaluationController.selected.animation}" title="#{bundle.EditEvaluationTitle_animation}" />
                        <p:outputLabel value="#{bundle.EditEvaluationLabel_applicationAquis}" for="applicationAquis" />
                        <p:inputText id="applicationAquis" value="#{evaluationController.selected.applicationAquis}" title="#{bundle.EditEvaluationTitle_applicationAquis}" />
                        <p:outputLabel value="#{bundle.EditEvaluationLabel_aspectsTechnique}" for="aspectsTechnique" />
                        <p:inputText id="aspectsTechnique" value="#{evaluationController.selected.aspectsTechnique}" title="#{bundle.EditEvaluationTitle_aspectsTechnique}" />
                        <p:outputLabel value="#{bundle.EditEvaluationLabel_evaluationTheme}" for="evaluationTheme" />
                        <p:inputText id="evaluationTheme" value="#{evaluationController.selected.evaluationTheme}" title="#{bundle.EditEvaluationTitle_evaluationTheme}" />
                        <p:outputLabel value="#{bundle.EditEvaluationLabel_evaluationTotal}" for="evaluationTotal" />
                        <p:inputText id="evaluationTotal" value="#{evaluationController.selected.evaluationTotal}" title="#{bundle.EditEvaluationTitle_evaluationTotal}" />
                        <p:outputLabel value="#{bundle.EditEvaluationLabel_session}" for="session" />
                        <p:selectOneMenu id="session" value="#{evaluationController.selected.session}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{sessionController.itemsAvailableSelectOne}"
                                           var="sessionItem"
                                           itemValue="#{sessionItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{evaluationController.update}" value="#{bundle.Save}" update="display,:EvaluationListForm:datalist,:growl" oncomplete="handleSubmit(args, 'EvaluationEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EvaluationEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
