<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListEvaluationTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="EvaluationListForm">
                <p:panel header="#{bundle.ListEvaluationTitle}">
                    <p:dataTable id="datalist" value="#{evaluationController.items}" var="item"
                                 selectionMode="single" selection="#{evaluationController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvaluationTitle_methodolgie}"/>
                            </f:facet>
                            <h:outputText value="#{item.methodolgie}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvaluationTitle_animation}"/>
                            </f:facet>
                            <h:outputText value="#{item.animation}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvaluationTitle_applicationAquis}"/>
                            </f:facet>
                            <h:outputText value="#{item.applicationAquis}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvaluationTitle_aspectsTechnique}"/>
                            </f:facet>
                            <h:outputText value="#{item.aspectsTechnique}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvaluationTitle_evaluationTheme}"/>
                            </f:facet>
                            <h:outputText value="#{item.evaluationTheme}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvaluationTitle_evaluationTotal}"/>
                            </f:facet>
                            <h:outputText value="#{item.evaluationTotal}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvaluationTitle_session}"/>
                            </f:facet>
                            <h:outputText value="#{item.session}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{evaluationController.prepareCreate}" update=":EvaluationCreateForm" oncomplete="PF('EvaluationCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":EvaluationViewForm" oncomplete="PF('EvaluationViewDialog').show()" disabled="#{empty evaluationController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":EvaluationEditForm" oncomplete="PF('EvaluationEditDialog').show()" disabled="#{empty evaluationController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{evaluationController.destroy}" update=":growl,datalist" disabled="#{empty evaluationController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
