<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EvaluationViewDlg" widgetVar="EvaluationViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEvaluationTitle}">
            <h:form id="EvaluationViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{evaluationController.selected != null}">
                        <h:outputText value="#{bundle.ViewEvaluationLabel_methodolgie}"/>
                        <h:outputText value="#{evaluationController.selected.methodolgie}" title="#{bundle.ViewEvaluationTitle_methodolgie}"/>
                        <h:outputText value="#{bundle.ViewEvaluationLabel_animation}"/>
                        <h:outputText value="#{evaluationController.selected.animation}" title="#{bundle.ViewEvaluationTitle_animation}"/>
                        <h:outputText value="#{bundle.ViewEvaluationLabel_applicationAquis}"/>
                        <h:outputText value="#{evaluationController.selected.applicationAquis}" title="#{bundle.ViewEvaluationTitle_applicationAquis}"/>
                        <h:outputText value="#{bundle.ViewEvaluationLabel_aspectsTechnique}"/>
                        <h:outputText value="#{evaluationController.selected.aspectsTechnique}" title="#{bundle.ViewEvaluationTitle_aspectsTechnique}"/>
                        <h:outputText value="#{bundle.ViewEvaluationLabel_evaluationTheme}"/>
                        <h:outputText value="#{evaluationController.selected.evaluationTheme}" title="#{bundle.ViewEvaluationTitle_evaluationTheme}"/>
                        <h:outputText value="#{bundle.ViewEvaluationLabel_evaluationTotal}"/>
                        <h:outputText value="#{evaluationController.selected.evaluationTotal}" title="#{bundle.ViewEvaluationTitle_evaluationTotal}"/>
                        <h:outputText value="#{bundle.ViewEvaluationLabel_session}"/>
                        <h:outputText value="#{evaluationController.selected.session}" title="#{bundle.ViewEvaluationTitle_session}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EvaluationViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
