<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TypeFormationEditDlg" widgetVar="TypeFormationEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditTypeFormationTitle}">
            <h:form id="TypeFormationEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{typeFormationController.selected != null}">
                        <p:outputLabel value="#{bundle.EditTypeFormationLabel_intituleformation}" for="intituleformation" />
                        <p:inputText id="intituleformation" value="#{typeFormationController.selected.intituleformation}" title="#{bundle.EditTypeFormationTitle_intituleformation}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{typeFormationController.update}" value="#{bundle.Save}" update="display,:TypeFormationListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TypeFormationEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TypeFormationEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
