<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ThemeEditDlg" widgetVar="ThemeEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditThemeTitle}">
            <h:form id="ThemeEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{themeController.selected != null}">
                        <p:outputLabel value="#{bundle.EditThemeLabel_intituletheme}" for="intituletheme" />
                        <p:inputText id="intituletheme" value="#{themeController.selected.intituletheme}" title="#{bundle.EditThemeTitle_intituletheme}" />
                        <p:outputLabel value="#{bundle.EditThemeLabel_dureetheme}" for="dureetheme" />
                        <p:inputText id="dureetheme" value="#{themeController.selected.dureetheme}" title="#{bundle.EditThemeTitle_dureetheme}" />
                        <p:outputLabel value="#{bundle.EditThemeLabel_categorie}" for="categorie" />
                        <p:selectOneMenu id="categorie" value="#{themeController.selected.categorie}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{categorieThemeController.itemsAvailableSelectOne}"
                                           var="categorieItem"
                                           itemValue="#{categorieItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditThemeLabel_priorite}" for="priorite" />
                        <p:selectOneMenu id="priorite" value="#{themeController.selected.priorite}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{prioriteThemeController.itemsAvailableSelectOne}"
                                           var="prioriteItem"
                                           itemValue="#{prioriteItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{themeController.update}" value="#{bundle.Save}" update="display,:ThemeListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ThemeEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ThemeEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
