<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListThemeTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ThemeListForm">
                <p:panel header="#{bundle.ListThemeTitle}">
                    <p:dataTable id="datalist" value="#{themeController.items}" var="item"
                                 selectionMode="single" selection="#{themeController.selected}"
                                 paginator="true"
                                 rowKey="#{item.codetheme}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListThemeTitle_intituletheme}"/>
                            </f:facet>
                            <h:outputText value="#{item.intituletheme}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListThemeTitle_dureetheme}"/>
                            </f:facet>
                            <h:outputText value="#{item.dureetheme}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListThemeTitle_categorie}"/>
                            </f:facet>
                            <h:outputText value="#{item.categorie}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListThemeTitle_priorite}"/>
                            </f:facet>
                            <h:outputText value="#{item.priorite}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{themeController.prepareCreate}" update=":ThemeCreateForm" oncomplete="PF('ThemeCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ThemeViewForm" oncomplete="PF('ThemeViewDialog').show()" disabled="#{empty themeController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ThemeEditForm" oncomplete="PF('ThemeEditDialog').show()" disabled="#{empty themeController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{themeController.destroy}" update=":growl,datalist" disabled="#{empty themeController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
