<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ThemeViewDlg" widgetVar="ThemeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewThemeTitle}">
            <h:form id="ThemeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{themeController.selected != null}">
                        <h:outputText value="#{bundle.ViewThemeLabel_intituletheme}"/>
                        <h:outputText value="#{themeController.selected.intituletheme}" title="#{bundle.ViewThemeTitle_intituletheme}"/>
                        <h:outputText value="#{bundle.ViewThemeLabel_dureetheme}"/>
                        <h:outputText value="#{themeController.selected.dureetheme}" title="#{bundle.ViewThemeTitle_dureetheme}"/>
                        <h:outputText value="#{bundle.ViewThemeLabel_categorie}"/>
                        <h:outputText value="#{themeController.selected.categorie}" title="#{bundle.ViewThemeTitle_categorie}"/>
                        <h:outputText value="#{bundle.ViewThemeLabel_priorite}"/>
                        <h:outputText value="#{themeController.selected.priorite}" title="#{bundle.ViewThemeTitle_priorite}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ThemeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
