<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PrioriteThemeCreateDlg" widgetVar="PrioriteThemeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePrioriteThemeTitle}">
            <h:form id="PrioriteThemeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{prioriteThemeController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePrioriteThemeLabel_intitule}" for="intitule" />
                        <p:inputText id="intitule" value="#{prioriteThemeController.selected.intitule}" title="#{bundle.CreatePrioriteThemeTitle_intitule}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{prioriteThemeController.create}" value="#{bundle.Save}" update="display,:PrioriteThemeListForm:datalist,:growl" oncomplete="handleSubmit(args,'PrioriteThemeCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PrioriteThemeCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
