<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PrioriteThemeEditDlg" widgetVar="PrioriteThemeEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPrioriteThemeTitle}">
            <h:form id="PrioriteThemeEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{prioriteThemeController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPrioriteThemeLabel_intitule}" for="intitule" />
                        <p:inputText id="intitule" value="#{prioriteThemeController.selected.intitule}" title="#{bundle.EditPrioriteThemeTitle_intitule}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{prioriteThemeController.update}" value="#{bundle.Save}" update="display,:PrioriteThemeListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PrioriteThemeEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PrioriteThemeEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
