<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DomainePersoEditDlg" widgetVar="DomainePersoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditDomainePersoTitle}">
            <h:form id="DomainePersoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{domainePersoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditDomainePersoLabel_domaineperso}" for="domaineperso" />
                        <p:inputText id="domaineperso" value="#{domainePersoController.selected.domaineperso}" title="#{bundle.EditDomainePersoTitle_domaineperso}" />
                        <p:outputLabel value="#{bundle.EditDomainePersoLabel_txtdomaineperso}" for="txtdomaineperso" />
                        <p:inputText id="txtdomaineperso" value="#{domainePersoController.selected.txtdomaineperso}" title="#{bundle.EditDomainePersoTitle_txtdomaineperso}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{domainePersoController.update}" value="#{bundle.Save}" update="display,:DomainePersoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'DomainePersoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DomainePersoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
