<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DomainePersoViewDlg" widgetVar="DomainePersoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewDomainePersoTitle}">
            <h:form id="DomainePersoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{domainePersoController.selected != null}">
                        <h:outputText value="#{bundle.ViewDomainePersoLabel_domaineperso}"/>
                        <h:outputText value="#{domainePersoController.selected.domaineperso}" title="#{bundle.ViewDomainePersoTitle_domaineperso}"/>
                        <h:outputText value="#{bundle.ViewDomainePersoLabel_txtdomaineperso}"/>
                        <h:outputText value="#{domainePersoController.selected.txtdomaineperso}" title="#{bundle.ViewDomainePersoTitle_txtdomaineperso}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="DomainePersoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
