<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FonctionViewDlg" widgetVar="FonctionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewFonctionTitle}">
            <h:form id="FonctionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{fonctionController.selected != null}">
                        <h:outputText value="#{bundle.ViewFonctionLabel_intitule}"/>
                        <h:outputText value="#{fonctionController.selected.intitule}" title="#{bundle.ViewFonctionTitle_intitule}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="FonctionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
