<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SousDomainCreateDlg" widgetVar="SousDomainCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateSousDomainTitle}">
            <h:form id="SousDomainCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{sousDomainController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateSousDomainLabel_sousdomaineperso}" for="sousdomaineperso" />
                        <p:inputText id="sousdomaineperso" value="#{sousDomainController.selected.sousdomaineperso}" title="#{bundle.CreateSousDomainTitle_sousdomaineperso}" />
                        <p:outputLabel value="#{bundle.CreateSousDomainLabel_txtsousdomaineperso}" for="txtsousdomaineperso" />
                        <p:inputText id="txtsousdomaineperso" value="#{sousDomainController.selected.txtsousdomaineperso}" title="#{bundle.CreateSousDomainTitle_txtsousdomaineperso}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{sousDomainController.create}" value="#{bundle.Save}" update="display,:SousDomainListForm:datalist,:growl" oncomplete="handleSubmit(args,'SousDomainCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SousDomainCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
