<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SousDomainViewDlg" widgetVar="SousDomainViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewSousDomainTitle}">
            <h:form id="SousDomainViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{sousDomainController.selected != null}">
                        <h:outputText value="#{bundle.ViewSousDomainLabel_sousdomaineperso}"/>
                        <h:outputText value="#{sousDomainController.selected.sousdomaineperso}" title="#{bundle.ViewSousDomainTitle_sousdomaineperso}"/>
                        <h:outputText value="#{bundle.ViewSousDomainLabel_txtsousdomaineperso}"/>
                        <h:outputText value="#{sousDomainController.selected.txtsousdomaineperso}" title="#{bundle.ViewSousDomainTitle_txtsousdomaineperso}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="SousDomainViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
