<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PropositionCreateDlg" widgetVar="PropositionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePropositionTitle}">
            <h:form id="PropositionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{propositionController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePropositionLabel_dateproposition}" for="dateproposition" />
                        <p:inputText id="dateproposition" value="#{propositionController.selected.dateproposition}" title="#{bundle.CreatePropositionTitle_dateproposition}" />
                        <p:outputLabel value="#{bundle.CreatePropositionLabel_nbrthemeproposevcanim}" for="nbrthemeproposevcanim" />
                        <p:inputText id="nbrthemeproposevcanim" value="#{propositionController.selected.nbrthemeproposevcanim}" title="#{bundle.CreatePropositionTitle_nbrthemeproposevcanim}" />
                        <p:outputLabel value="#{bundle.CreatePropositionLabel_autretheme}" for="autretheme" />
                        <p:inputText id="autretheme" value="#{propositionController.selected.autretheme}" title="#{bundle.CreatePropositionTitle_autretheme}" />
                        <p:outputLabel value="#{bundle.CreatePropositionLabel_totalthemeproposesansdoublant}" for="totalthemeproposesansdoublant" />
                        <p:inputText id="totalthemeproposesansdoublant" value="#{propositionController.selected.totalthemeproposesansdoublant}" title="#{bundle.CreatePropositionTitle_totalthemeproposesansdoublant}" />
                        <p:outputLabel value="#{bundle.CreatePropositionLabel_nbranimateurvcdoublant}" for="nbranimateurvcdoublant" />
                        <p:inputText id="nbranimateurvcdoublant" value="#{propositionController.selected.nbranimateurvcdoublant}" title="#{bundle.CreatePropositionTitle_nbranimateurvcdoublant}" />
                        <p:outputLabel value="#{bundle.CreatePropositionLabel_nbranimateurproposesansdoublant}" for="nbranimateurproposesansdoublant" />
                        <p:inputText id="nbranimateurproposesansdoublant" value="#{propositionController.selected.nbranimateurproposesansdoublant}" title="#{bundle.CreatePropositionTitle_nbranimateurproposesansdoublant}" />
                        <p:outputLabel value="#{bundle.CreatePropositionLabel_nbranimateurexistantbda}" for="nbranimateurexistantbda" />
                        <p:inputText id="nbranimateurexistantbda" value="#{propositionController.selected.nbranimateurexistantbda}" title="#{bundle.CreatePropositionTitle_nbranimateurexistantbda}" />
                        <p:outputLabel value="#{bundle.CreatePropositionLabel_cv}" for="cv" />
                        <p:inputText id="cv" value="#{propositionController.selected.cv}" title="#{bundle.CreatePropositionTitle_cv}" />
                        <p:outputLabel value="#{bundle.CreatePropositionLabel_fmi}" for="fmi" />
                        <p:inputText id="fmi" value="#{propositionController.selected.fmi}" title="#{bundle.CreatePropositionTitle_fmi}" />
                        <p:outputLabel value="#{bundle.CreatePropositionLabel_direction}" for="direction" />
                        <p:selectOneMenu id="direction" value="#{propositionController.selected.direction}" >
                            <f:selectItems value="#{directionController.itemsAvailableSelectOne}"
                                           var="directionItem"
                                           itemValue="#{directionItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{propositionController.create}" value="#{bundle.Save}" update="display,:PropositionListForm:datalist,:growl" oncomplete="handleSubmit(args,'PropositionCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PropositionCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
