<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListPropositionTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="PropositionListForm">
                <p:panel header="#{bundle.ListPropositionTitle}">
                    <p:dataTable id="datalist" value="#{propositionController.items}" var="item"
                                 selectionMode="single" selection="#{propositionController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropositionTitle_dateproposition}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateproposition}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropositionTitle_nbrthemeproposevcanim}"/>
                            </f:facet>
                            <h:outputText value="#{item.nbrthemeproposevcanim}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropositionTitle_autretheme}"/>
                            </f:facet>
                            <h:outputText value="#{item.autretheme}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropositionTitle_totalthemeproposesansdoublant}"/>
                            </f:facet>
                            <h:outputText value="#{item.totalthemeproposesansdoublant}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropositionTitle_nbranimateurvcdoublant}"/>
                            </f:facet>
                            <h:outputText value="#{item.nbranimateurvcdoublant}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropositionTitle_nbranimateurproposesansdoublant}"/>
                            </f:facet>
                            <h:outputText value="#{item.nbranimateurproposesansdoublant}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropositionTitle_nbranimateurexistantbda}"/>
                            </f:facet>
                            <h:outputText value="#{item.nbranimateurexistantbda}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropositionTitle_cv}"/>
                            </f:facet>
                            <h:outputText value="#{item.cv}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropositionTitle_fmi}"/>
                            </f:facet>
                            <h:outputText value="#{item.fmi}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropositionTitle_direction}"/>
                            </f:facet>
                            <h:outputText value="#{item.direction}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{propositionController.prepareCreate}" update=":PropositionCreateForm" oncomplete="PF('PropositionCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":PropositionViewForm" oncomplete="PF('PropositionViewDialog').show()" disabled="#{empty propositionController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":PropositionEditForm" oncomplete="PF('PropositionEditDialog').show()" disabled="#{empty propositionController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{propositionController.destroy}" update=":growl,datalist" disabled="#{empty propositionController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
