<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PropositionViewDlg" widgetVar="PropositionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPropositionTitle}">
            <h:form id="PropositionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{propositionController.selected != null}">
                        <h:outputText value="#{bundle.ViewPropositionLabel_dateproposition}"/>
                        <h:outputText value="#{propositionController.selected.dateproposition}" title="#{bundle.ViewPropositionTitle_dateproposition}"/>
                        <h:outputText value="#{bundle.ViewPropositionLabel_nbrthemeproposevcanim}"/>
                        <h:outputText value="#{propositionController.selected.nbrthemeproposevcanim}" title="#{bundle.ViewPropositionTitle_nbrthemeproposevcanim}"/>
                        <h:outputText value="#{bundle.ViewPropositionLabel_autretheme}"/>
                        <h:outputText value="#{propositionController.selected.autretheme}" title="#{bundle.ViewPropositionTitle_autretheme}"/>
                        <h:outputText value="#{bundle.ViewPropositionLabel_totalthemeproposesansdoublant}"/>
                        <h:outputText value="#{propositionController.selected.totalthemeproposesansdoublant}" title="#{bundle.ViewPropositionTitle_totalthemeproposesansdoublant}"/>
                        <h:outputText value="#{bundle.ViewPropositionLabel_nbranimateurvcdoublant}"/>
                        <h:outputText value="#{propositionController.selected.nbranimateurvcdoublant}" title="#{bundle.ViewPropositionTitle_nbranimateurvcdoublant}"/>
                        <h:outputText value="#{bundle.ViewPropositionLabel_nbranimateurproposesansdoublant}"/>
                        <h:outputText value="#{propositionController.selected.nbranimateurproposesansdoublant}" title="#{bundle.ViewPropositionTitle_nbranimateurproposesansdoublant}"/>
                        <h:outputText value="#{bundle.ViewPropositionLabel_nbranimateurexistantbda}"/>
                        <h:outputText value="#{propositionController.selected.nbranimateurexistantbda}" title="#{bundle.ViewPropositionTitle_nbranimateurexistantbda}"/>
                        <h:outputText value="#{bundle.ViewPropositionLabel_cv}"/>
                        <h:outputText value="#{propositionController.selected.cv}" title="#{bundle.ViewPropositionTitle_cv}"/>
                        <h:outputText value="#{bundle.ViewPropositionLabel_fmi}"/>
                        <h:outputText value="#{propositionController.selected.fmi}" title="#{bundle.ViewPropositionTitle_fmi}"/>
                        <h:outputText value="#{bundle.ViewPropositionLabel_direction}"/>
                        <h:outputText value="#{propositionController.selected.direction}" title="#{bundle.ViewPropositionTitle_direction}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PropositionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
